<mat-card>
    <h1>{{formType}}</h1>
    <form #studentForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)] = "name" name = "name" required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>math</mat-label>
              <input matInput type="number" [(ngModel)] = "math" name = "math" required>
            </mat-form-field>
          </p>  
          <p>
            <mat-form-field appearance="standard">
              <mat-label>psych</mat-label>
              <input matInput type="number" [(ngModel)] = "psych" name = "psych" required>
            </mat-form-field>
          </p>  
              
          <mat-form-field appearance="fill">
            <mat-label>Student's sahar status</mat-label>
            <mat-select place-holder = "Sahar" [(ngModel)] = "sahar" name = "sahar" required>
              <mat-option *ngFor="let sahar of sahars" [value]="sahar.name">
                {{sahar.name}}
              </mat-option>
            </mat-select>
            
        </mat-form-field>                                 
        <div >
            <button (click) = "updateParent()" mat-raised-button color="primary">{{formType}}</button>

            <button (click) = "tellParentToClose()" mat-raised-button color="secondary">Cancel</button>
        </div>
      </div>
    </form>
   </mat-card>



