<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let user of users$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{user.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{user.email}}</p>
      <button (click) = "register(user.email, '12345678')" mat-raised-button color="primary" >Register</button>
    </mat-expansion-panel>
  </mat-accordion>
