<mat-accordion>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{student.name}}
        </mat-panel-title>
        <mat-panel-description>
          Click to {{panelOpenState ? 'Close' : 'Edit'}}
        </mat-panel-description>
        
               
      </mat-expansion-panel-header>
      
      
      
    </mat-expansion-panel>
  </mat-accordion>
  
