<p *ngIf = "!(auth.getUser()| async)">Your are not logged in</p>
<p *ngIf = "(auth.getUser()| async)">Hello Sir/Madam!</p>
<br>
<p *ngIf = "(auth.getUser()| async)"> you are logged as {{userEmail}}</p>

