<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf = "!hasError">Temperatures in {{city}} is {{(weatherData$ | async)?.temperature | number:'1.0-0'}}º</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle *ngIf = "!hasError"><img [src] = "image"></mat-card-subtitle>
    </mat-card-header>
    <p>Description: {{description}} </p>
    <p>Country: {{country}} </p>
    <p>Longitude:{{lon}}, Latitude:{{lat}}</p>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <a [routerLink]="['/city']" routerLinkActive="active">Select a city</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addLikes()">LIKE</button> <span>{{likes}}</span>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

