<mat-card>
    <h1>Network Form</h1>
    <form #netForm = "ngForm" (ngSubmit) = "onSubmit()">  
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Network Selection</mat-label>
                <mat-select place-holder = "Network" [(ngModel)] = "network" name = "network" required>
                  <mat-option>---</mat-option>
                  <mat-option *ngFor="let network of networks" [value]="network.name">
                    {{network.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="netForm.hasError">Please choose a network</mat-error>
            </mat-form-field>
              <div>
                <br>
                <button [disabled] = "!netForm.form.valid" type = "submit" mat-raised-button color="primary">Select</button>
              </div> 
        </div>
    </form>
</mat-card>

