<p *ngIf = "!(authService.getUser()| async)">Your are not logged in</p>
<br>
<div>
  <div>
    <button (click) = "addStudentFormOpen = !addStudentFormOpen" mat-raised-button color = "primary">Add Student</button>
  </div>
  <br>
  <div>
    <studentform *ngIf = "addStudentFormOpen" 
            (update) = "add($event)" 
            (closeEdit) = "addStudentFormOpen = !addStudentFormOpen"
            [formType] = "'Add student'">
    </studentform>
  </div>

  <mat-accordion *ngIf = "(authService.getUser()| async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let student of students; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{student.name}}
        </mat-panel-title>
        <mat-panel-description>
          math = {{student.math}} ;  psych = {{student.psych}} ;  sahar = {{student.sahar}} 
          
          <span class="spacer"></span>
          <button (click)="predict(student.math, student.psych, student.sahar)" mat-raised-button color="primary">Predict</button>
          <button (click)="addPrediction(userId, student.id, prediction)" mat-raised-button color="primary">Add Prediction</button>
          <button mat-raised-button color="primary" (click)= "addSaved(student.name, userID)">Save</button>
          <button mat-raised-button color = "warn" (click) = "deleteStudent(student.id)">Delete</button>
        </mat-panel-description>
      </mat-expansion-panel-header>

      
     
      <button (click) = "editstate[i] = !editstate[i]" mat-raised-button color = "primary">Edit</button>
      <p *ngIf = "saved=='Prediction saved at the DB!'">Saved by: {{email}}</p>
      
      <studentform 
      [formType] = "'Update Student'"
      [hidden] = "!editstate[i]" 
      [name] = "student.name" 
      [math] = student.math 
      [psych] = student.psych
      [sahar] = student.sahar
      [id] = student.id
      (update) = "updateStudent($event); editstate[i] = !editstate[i]"
      (closeEdit) = "editstate[i] = !editstate[i]">
      </studentform>

    </mat-expansion-panel>
  </mat-accordion>
  <p *ngIf = "prediction=='Continue the school'" style="color: green;">student's prediction: {{prediction}}</p>
  <p *ngIf = "prediction=='Dropout of the school'" style="color: red;">student's prediction: {{prediction}}</p>
  <p>{{saved}}</p>
  <br>
  <div>
  <button (click) = "prevPage()" mat-raised-button color = "primary">Prev page</button>
  <button (click) = "nextPage()" mat-raised-button color = "primary">Next page</button>  
  </div>
  

</div>

